html,body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    background-color: #00BDA6;
    color: white;
    display: inline-block;
}
body{
    height: 100%;
}
nav {
    display: inline-block;
    width: 100%;
    background-color: #005ABD;
    height: 7%;
}
main {
    display: inline-block;
    width: 100%;
    height: 88%;
    text-align: center;
}
li {
    display: inline;
    font-family: "DynaPuff", system-ui;
    color: aliceblue;
    font-size: 25px;
    padding: 5%;
}

a{
    text-decoration: none;
    color: inherit;
}

footer{
    background-color: #005ABD;
    display: inline-block;
    width: 100%;
    height: 5%;
    background-color: #005ABD;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    color: white;
}
#f{
    font-size: 20px;
}
h1 {
    font-family: "DynaPuff", system-ui;
    font-weight: 400;
    text-align: center;
    font-size: 40px;
}

p {
    font-size: larger;
    font-size: 25px;
}


blockquote {
    font-family: "Paprika", cursive;
    font-weight: bold;
    font-size: 20px;
}

#biografia {
    display: inline-block;
    width: 100%;
    height: 60%;
    background-color: #00BD67;
}

#intereses {
    display: inline-block;
    width: 100%;
    height: 25%;
}

#foto_principal {
    width: 300px;
    height: auto;
}

.iconos {
    width: 90px;
    height: auto;
}
